DATABASE_URL=postgres://<user>:<password>@postgres:5432/<db>

# PostgreSQL Docker credentials
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

FRONTEND_URL=http://localhost:3000
COOKIE_DOMAIN=
APP_ENV="development"
JWT_SECRET=
CAS_PARSER_API=http://localhost:8000/parse-cas

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8080/api/auth/google/callback
